@import url(https://fonts.googleapis.com/css?family=PT+Mono|Cutive+Mono);
body {
	font-family: "PT Mono";
}
.header {
	height: 250px;
	background: #222;
	background-repeat: no-repeat;
	background-position: center 0;
	-webkit-background-size: cover;
	background-size: cover;

}
.footer {
	text-align: center;
	margin-bottom: 20px;
}
article {
	.entry-content {
		img {
			width: 100%;
		}
	}
}