{{ partial "head.html" . }}

<body>
{{ partial "header.html" . }}

<div class="container">
        <div class="mid-col-container">
            <div id="content" class="inner">
                <div itemscope itemtype="http://schema.org/Blog">
                    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

                        <h1 class="title" itemprop="name">{{ if $.Site.Params.titlecase }}{{ .Title | title }}{{ else }}{{ .Title }}{{ end }}</h1>
                        <div class="entry-content" itemprop="articleBody">{{ .Content }}</div>

                    </article>
                    {{if eq "true" .Params.payable}}
                    <div>
                      <hr>
                      <h1>本文是我的原创哦, 如果您觉得文章对您有帮助, 就赏我个茶钱吧~</h1>
                    <!-- 代码1：放在页面需要展示的位置  -->
<!-- 如果您配置过sourceid，建议在div标签中配置sourceid、cid(分类id)，没有请忽略  -->
<div id="cyReward" role="cylabs" data-use="reward"></div>
<!-- 代码2：用来读取评论框配置，此代码需放置在代码1之后。 -->
<!-- 如果当前页面有评论框，代码2请勿放置在评论框代码之前。 -->
<!-- 如果页面同时使用多个实验室项目，以下代码只需要引入一次，只配置上面的div标签即可 -->
<script type="text/javascript" charset="utf-8" src="http://changyan.itc.cn/js/??lib/jquery.js,changyan.labs.js?appid=cysiPXECq"></script>
<hr>
                  </div>
                  {{end}}

                </div>
                {{if eq .Section "post"}}
                <div id="SOHUCS"></div>
                <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
                <script type="text/javascript">
                    window.changyan.api.config({
                        appid: 'cysiPXECq',
                        conf: 'prod_ae8c2fcf65d92ee749cc9cf448e5b285'
                    });
                </script>
                {{end}}
            </div>
        </div>
</div>
{{ partial "footer.html" . }}
</body>
</html>
