<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>{{ if and (.IsPage) (.Title) }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
    <meta name="author" content="{{ .Site.Author }}">

    {{ $description := .Description }}
    {{ if $description }} {{ $description := .Summary }} {{ end }}
    <meta name="description" content="{{ $description }}">
    {{ if .Keywords }}<meta name="keywords" content="{{ .Keywords }}">{{ end }}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ .Site.BaseURL }}/favicon.ico" rel="shortcut icon">

    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/highlight.js/9.2.0/styles/github.min.css" rel="stylesheet">

    <link href="{{ .Site.BaseURL }}/css/app.css" rel="stylesheet" type="text/css">

    <script src="https://cdn.bootcss.com/jquery/1.12.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/highlight.js/9.2.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>
