<div class="rewardme">
  <style>

      .rewardme img {
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 200px;
      }
      .rewardme h5 {
        text-align: center;
      }

  </style>
  <hr>
  <h2>本文是原创哦, 如果您觉得文章对您有帮助, 就赏我个茶钱吧~ <small>建议1~20元</small></h2>
  <div class="row">
    <div class="col-sm-6">
      <img src="{{.Site.Params.imgCdn}}image/pay_alipay.png">
      <h5>支付宝</h5>
    </div>
    <div class="col-sm-6">
      <img src="{{.Site.Params.imgCdn}}image/pay_weixin.png">
      <h5>微信</h5>
    </div>

  </div>
</div>
